<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsl.wjw.mapper.ShopMapper">

  <resultMap id="BaseResultMap" type="com.wsl.wjw.dto.ShopDto" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="type_id" property="typeId" jdbcType="NUMERIC" />
    <result column="category_id" property="categoryId" jdbcType="NUMERIC" />
    <result column="vname" property="vname" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="NUMERIC" />
    <result column="coupon_price" property="couponPrice" jdbcType="NUMERIC" />
    <result column="vurl" property="vurl" jdbcType="VARCHAR" />
    <result column="vcover" property="vcover" jdbcType="VARCHAR" />
    <result column="is_visible" property="isVisible" jdbcType="INTEGER" />
    <result column="ts" property="ts" jdbcType="DATE" />
    <result column="dr" property="dr" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, type_id,category_id, vname,original_price,coupon_price,vurl,vcover,is_visible,ts,dr
  </sql>
  	
  	<!-- 根据typeId查询所有商品卷 -->
	<select id="queryShopByTypeId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"></include>
		from venux_wqw_shop where dr=1 and type_id=#{typeId}
	</select>
	<!-- 根据查询typeId下categoryId类型DTO -->
	<select id="queryShopByCategoryId"  parameterType="com.wsl.wjw.dto.query.ShopQueryParam"  resultType="com.wsl.wjw.dto.ShopDto">
		select 
		s.id, s.type_id as typeId,s.category_id as categoryId, s.vname,s.original_price as originalPrice, s.coupon_price as couponPrice, s.vurl,vcover, s.is_visible as isVisible,s.ts,s.dr
		,c.vname as categoryName, t.vname as typeName
		from venux_wqw_shop s
		left join venux_wqw_category c on s.type_id = c.id
		left join venux_wqw_type t on s.category_id = t.id
		 where s.dr=1
		<if test="typeId != null and typeId !=0">
        and s.type_id=#{typeId},
      </if>
      <if test="categoryId != null and categoryId != 0">
        and s.category_id=#{categoryId}
      </if>
	</select>
	<!-- 非空插入 -->
	<insert id="insertSelective" parameterType="com.wsl.wjw.dto.ShopDto">
    insert into venux_wqw_shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="vname != null">
        vname,
      </if>
      <if test="originalPrice != null">
        original_price,
      </if>
      <if test="couponPrice != null">
        coupon_price,
      </if>
      <if test="vurl != null">
        vurl,
      </if>
      <if test="vcover != null">
        vcover,
      </if>
      <if test="isVisible != null">
        is_visible,
      </if>
      <if test="ts != null">
        ts,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="vdef1 != null">
        vdef1,
      </if>
      <if test="vdef2 != null">
        vdef2,
      </if>
      <if test="vdef3 != null">
        vdef3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="vname != null">
        #{vname,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="couponPrice != null">
        #{couponPrice,jdbcType=DECIMAL},
      </if>
      <if test="vurl != null">
        #{vurl,jdbcType=VARCHAR},
      </if>
      <if test="vcover != null">
        #{vcover,jdbcType=VARCHAR},
      </if>
      <if test="isVisible != null">
        #{isVisible,jdbcType=SMALLINT},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=SMALLINT},
      </if>
      <if test="vdef1 != null">
        #{vdef1,jdbcType=VARCHAR},
      </if>
      <if test="vdef2 != null">
        #{vdef2,jdbcType=VARCHAR},
      </if>
      <if test="vdef3 != null">
        #{vdef3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- id删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from venux_wqw_shop
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <!-- 非空更新 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.wsl.wjw.dto.ShopDto">
    update venux_wqw_shop
    <set>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="vname != null">
        vname = #{vname,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null">
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="couponPrice != null">
        coupon_price = #{couponPrice,jdbcType=DECIMAL},
      </if>
      <if test="vurl != null">
        vurl = #{vurl,jdbcType=VARCHAR},
      </if>
      <if test="vcover != null">
        vcover = #{vcover,jdbcType=VARCHAR},
      </if>
      <if test="isVisible != null">
        is_visible = #{isVisible,jdbcType=SMALLINT},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=SMALLINT},
      </if>
      <if test="vdef1 != null">
        vdef1 = #{vdef1,jdbcType=VARCHAR},
      </if>
      <if test="vdef2 != null">
        vdef2 = #{vdef2,jdbcType=VARCHAR},
      </if>
      <if test="vdef3 != null">
        vdef3 = #{vdef3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>