<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<link rel="stylesheet" href="${basePath}/css/reset.css">
		<link rel="stylesheet" href="${basePath}/css/index.css">
		<title>网劵网</title>
	</head>
	<body style="-webkit-text-size-adjust: 100%!important;">
		正在维护中...对您带来不便，请原谅！3Q！
		<!--menu  start-->
		<#include "menu/menu.html"> 
		<!--menu  end-->
		<script type="text/javascript" src="${basePath}/js/rem.js" ></script>
		<script type="text/javascript" src="${basePath}/js/swiper.min.js" ></script>
		<script type="text/javascript" src="${basePath}/js/index.js" ></script>
		<script type="text/javascript" src="${basePath}/js/top.js" ></script>
		<script type="text/javascript" src="${basePath}/js/menu.js" ></script>
		<script type="text/javascript" src="${basePath}/js/jquery-1.11.3.min.js" ></script>
	</body>
</html>