<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/index.css">
		<title>网劵网</title>
	</head>
	<body style="-webkit-text-size-adjust: 100%!important;">
		<div id="wrapper">
			<!--头部搜索框 start-->
			<div class="wf-search" id="search">
				<header>
					<div class="jd-logo">
						<!-- <a href="#"><i class="sprite-icon"></i></a> -->
						<a href="#"></a>
					</div>
					<div class="search">
						<form>	
							<span class="sprite-icon"></span>
							<input type="search" placeholder="功能待完善">
						</form>
					</div>
					<!-- <div class="login">
						<a href="Receipt_address.html" id="loginmain">
							北京
							<font class="login_icon">
								<img src="images/login_icon.png" />
							</font>
						</a>
					</div> -->
				</header>
			</div>
			<!--头部搜索框 end-->
			<!--banner start-->
			<div id="slider">
				<div class="swiper-container clearfix">
					<ul class="swiper-wrapper">
						<li class="swiper-slide"><a href="#"><img src="images/images/banner1.png"/></a></li>
						<li class="swiper-slide"><a href="#"><img src="images/images/banner2.jpg"/></a></li>
						<li class="swiper-slide"><a href="#"><img src="images/images/banner3.jpg"/></a></li>
					</ul>
				</div>
				<!--
				<div class="slider-btn clearfix">
					<span class="active"></span>
					<span></span>
					<span></span>
				</div>
				-->
				<div class="swiper-pagination"></div>
			</div>
			<!--banner end-->
			<!--nav start-->
			<div id="nav">
				<nav class="clearfix">
					<span id="index_lan">
						<!-- 
						<a href="mesh/Inner_page/tb">
							<img src="images/1.png" />
							<span>淘宝劵</span>
						</a>
						 -->
					</span>
					
					<div class="edmond clearfix">
						敬请期待更多优惠 And You
					<!-- <span class="sprite-icon"></span> -->
					</div>
				</nav>
			</div>
				<!-- 展示区 start -->
				<!-- <#include "">  -->
				<!-- 展示区 end -->
				<!--menu  start-->
				<#include "menu/menu.html"> 
				<!--menu  end-->
			</div>
			<!--menu  end-->
			<div id="back_top">
				<a href="#"><img src="images/xqq/the_top.png" /></a>
			</div>
			<script type="text/javascript" src="js/rem.js" ></script>
			<script type="text/javascript" src="js/swiper.min.js" ></script>
			<script type="text/javascript" src="js/index.js" ></script>
			<script type="text/javascript" src="js/top.js" ></script>
			<script type="text/javascript" src="js/menu.js" ></script>
			<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
			<script type="text/javascript" src="js/login.js"></script>
			<script type="text/javascript" src="pageJs/index/index.js"></script>
	</body>
</html>
