<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/index.css">
		<title>网券网-${modelName}</title>
	</head>
	<body>
		<div id="wrapper" class="inner_style">
			<div class="int_title"><span class="int_pic"><a href="/"><img src="/images/jifen/left.png"/></a></span>${modelName}</div>
							<div class="secskill-content inner_pages topline">
								<ul class="swiper-wrapper inner_nav">
									<#list categoryList as category>  
										<#if category_index ==0><hr/>
											<li class="swiper-slide inner_con inner_con_style category_id" ct-id="${category.typeId}" ty-id="${category.id}">
												${category.vname} 
												<span class="inner_border_con" style="display: block;"></span>
											</li>
										<#else>
											<li class="swiper-slide inner_con category_id" ct-id="${category.typeId}" ty-id="${category.id}">
												${category.vname} 
												<span class="inner_border_con"></span>
											</li>
										</#if>
								    </#list> 
								</ul>
							</div>
				<main>
					<div class="best_Sellers best_top clearfix">
						<ul style="display: block;" class="clearfix best_content" id="sw-shop-list">
						</ul>
					</div>
					<p class="notice">没有更多商品了！</p>
			</main>
		<!--menu  start-->
		<#include "menu/menu.html"> 
		<!--menu  end-->
		<div id="back_top">
			<a href="#"><img src="/images/xqq/the_top.png" /></a>
		</div>
		<script type="text/javascript" src="/js/rem.js" ></script>
		<script type="text/javascript" src="/js/swiper.min.js" ></script>
		<script type="text/javascript" src="/js/index.js" ></script>
		<script type="text/javascript" src="/js/jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="/js/inner.js" ></script>
		<script type="text/javascript" src="/js/pay_success.js" ></script>
		<script type="text/javascript" src="/pageJs/function.common.js"></script>
		<script type="text/javascript" src="/pageJs/show/inner_page.js" ></script>
	</body>
</html>
